*{
    box-sizing: border-box;
    text-decoration: none;
}
body{
    background-color: rgb(186, 228, 228);
    font-family: "acumin-pro","Acumin Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
}

#cont{
    /* width: 600px; */
    /* height: 700px; */
    margin: auto;
    color: white;
    border-radius: 5% ;
     box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;;
    padding-left: 30px;
    overflow: hidden;
    padding-right: 30px;
    margin-top: 30px;
}
#cont {
    background-image: url("https://time.com/personal-finance/static/f7c28c848a98c41c1fb4272abc5472ae/57e17/use-credit-card-before-it-arrives.jpg");
    background-size: cover;
    background-position: center;
}
#cont >h1:nth-child(1){
    font-size: 35px;
    text-align: center;
    color: crimson;
}
#cont >h1:nth-child(2){
    padding-top: 420px;
    font-size: 30px;
    color: navy;
}
p{
    font-size: 15px;
    color: deeppink;
}
  
#btn{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
#btn button{
    width: 40%;
    height: 40px;
    cursor: pointer;
    border-radius: 15px;
}
#btn button:hover{
    background-color:deepskyblue;
}
@media all and (max-width:500px) {
    #cont{
        width: 300px;
    }
    body{
        background-color: white;
    }
}
